{% extends "base_generic.html" %}

{% block content %}
<h5>Login to our Website to avail more features</h5>
    <div style="position:relative; left:300px; top:185px; background-color:FFE6EE;" >


            <H1>
               WELCOME {{ request.user }}<br><br>
            </H1>
            <h2>
                Books are our Best Friend!!!<br>
            </h2>

            <h4>
                We are open ONLINE! You can read anywhere, anytime!<br>
                Enjoy our wide range of online collection, from fiction, horror, Mystery<br> and various other wide range of collection of books
            </h4>

    </div>

{% endblock %}